/* ============================ */
/* Base and Body Styles */
/* ============================ */

body {
    background: #1A1A1B !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100vw;
}

.noDecoration {
    text-decoration: none;
    color: #fff;
}

/* ============================ */
/* Home Hero and Navigation Bar */
/* ============================ */

#homeHero {
    height: 100vh;
    width: 100vw;
    position: relative;
    /*background: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeNavBar {
    text-align: center;
    position: relative;
    width: 100%;
}

#subNav > li {
    display: inline-block;
    list-style: none;
    height: 80px;
    line-height: 40px;
    padding: 0 2vw;
    text-align: center;
    color: #fff;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 30px;
}

#subNav > li > a > p {
    opacity: 0.4;
    transition: 0.2s;
}

#subNav > li > a:hover {
    cursor: pointer;
}

#subNav > li > a > p:hover {
    opacity: 1;
}

.navElement {
    display: inline-block;
    margin: auto;
}

#logoImage {
    width: 25px;
    height: auto;
    opacity: 0.8;
    transition: 0.2s;
}

#logoImage:hover {
    opacity: 1;
}

/* ============================ */
/* Team Info Section */
/* ============================ */

#teamInfo {
    height: 100%;
    width: 350px;
    background: #222221;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: hidden;
    padding-bottom: 100px;
    padding-top: 20px;
    z-index: 2;
}

.minimized {
    display: none;
}

.teamImg {
    width: 180px;
    height: auto;
}

.personContainer {
    text-align: center;
}

.teamName, .teamRole, .teamBio {
    font-family: Montserrat;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
}

.teamName {
    font-weight: 800;
    font-size: 1em;
}

.teamRole {
    font-weight: 300;
    font-size: 0.9em;
}

.teamBio {
    font-weight: 400;
    font-size: 0.8em;
    color: #cfcfcf;
}

.iconContainer {
    margin-top: -10px;
    margin-bottom: 10px;
}

.iconContainer > a > i {
    color: #e34661;
    border-radius: 8px;
    display: inline-block;
    padding: 8px;
    font-size: 14pt;
    opacity: 0.9;
    transition: 0.7s;
}

.iconContainer > a > i:hover {
    opacity: 1;
}

#teamArrow {
    color: #fff;
    transform: translateX(25px);
    opacity: 0.8;
    transition: 0.2s;
}

#teamArrow:hover {
    cursor: pointer;
    opacity: 1;
}

/* ============================ */
/* Central Content and Header */
/* ============================ */

#centralContentWrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#centralContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
    transform: translateY(-10%);
}

.backgroundMap {
    width: 800px;
    height: auto;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    transition: 0.3s;
    transform: translateY(-30%);
}

.headerRow {
    text-align: center;
    width: 100%;
}

.headerInformation {
    color: #fff;
    text-align: center;
}

.primaryText {
    font-family: Epilogue;
    font-weight: 800;
}

.secondaryText {
    font-family: Epilogue;
    font-weight: 300;
    width: 600px;
    font-size: 1.7em;
    line-height: 1.9;
}

.strikeThrough {
    background: #CF2744;
    padding: 7px;
    color: #fff;
    font-weight: 700;
}

.strikeThrough > i {
    font-size: 16pt;
}

.buttonContainer {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttonContainer > .row a {
    display: inline-block;
}

.buttonContainer > .row a > button {
    display: inline-block;
    border-radius: 30px;
    font-size: 13.33px;
    height: 50px;
    width: 170px;
    border: none;
    background-color: transparent;
    font-family: Montserrat;
    color: #fff;
    outline: 1px solid #fff;
    font-weight: 800;
    margin-top: 15px;
    transition: 0.3s;
    padding-left: 10px;
    cursor: pointer;
    text-align: center;
}

.buttonContainer > .row > a > button:hover {
    background-color: rgba(207, 39, 68, 0.2);
    filter: brightness(5);
}

#exploreMap > i {
    margin-left: 6px;
    margin-right: 2px;
    transition: 0.3s;
    opacity: 0.95;
    font-size: 12px;
}

#exploreMap:hover > i {
    transition: 0.3s;
    transform: translateX(2px);
}

/* ============================ */
/* Article Arrow */
/* ============================ */

#articleHeader {
    text-align: center;
    height: 80px;
    color: #fff;
    opacity: 0.9;
    font-size: 20px;
    font-family: "Epilogue";

}

/* Adding this section to your existing styles */
#jumpingArrow {
    animation: hop 2s infinite ease-in-out;
    display: inline-block;
}

/* Keyframes for the hop animation */
@keyframes hop {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

#articleHeader > i {
    margin-right: 10px;
    transition: 0.3s;
}

#articleHeader > i:hover {
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.5;
}


/* ============================ */
/* Article Content */
/* ============================ */

#article {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;  /* Horizontally centers the child */
    padding-bottom: 100px;
}


#articleInner {
    width: 60%;
    margin-top: 80px;

}

#articleTitleSection {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Horizontally centers the child */

}

#articleLogo {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background: #AA273C;
    margin: 0 auto;
    margin-bottom: 30px;
}

#articleTitleSection > h1 {
    font-family: "Epilogue";
    font-weight: 800;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
}

#articleTitleSection > p {
    font-family: "Roboto";
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}


#articleTitleSection > h5 {
    font-family: "Roboto";
    font-weight: 400;
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    color: #363636;
}

.articleDivider {
    border-top: 5px solid #2b2b2b;
    margin-top: 50px;
    margin-bottom: 40px;
}

.articleDivider > h1 {
    font-family: "Epilogue";
    font-weight: 600;
    padding-top: 15px;
    font-size: 28px;
}

.articleContent {

}

.articleContent > p, .articleContent > ul > li {
    font-family: "Roboto";
    font-size: 18px;
}



.articleImage {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Horizontally centers the child */
    margin-top: 80px;
    margin-bottom: 80px;
}

.articleImage > img {
    margin: 0 auto;

}

.caption {
    font-size: 17px;
    font-style: italic;
    font-family: "Roboto";
    font-weight: 400;
    color: #363636;
    margin-top: 30px;
}

/* ============================ */
/* Responsive Styles */
/* ============================ */

@media only screen and (max-width: 900px) {
    .backgroundMap {
        width: 500px;
        margin-top: 30px;
    }

    .secondaryText {
        width: 400px;
    }
}

@media only screen and (max-width: 680px) {
    #subNav > li {
        padding: 0vw;
    }
}