body { margin: 0; padding: 0; }
#map { position: absolute; top: 0; bottom: 0; width: 100%; }

.mapboxgl-popup-content {
    padding: 25px !important;
}

.mapboxgl-popup {
    max-width: 400px;
    font:
            12px/20px 'Helvetica Neue',
            Arial,
            Helvetica,
            sans-serif;
}

body {
    overflow-x: hidden;
    background: #202020;
}
.variable-selection {
    width: 85%;
    height: 45px;
    padding-left: 35px;
    box-shadow: 0 0 85px rgb(90 86 130 / 20%);
    border: 0;
    margin-top:10px;
    padding-right: 10px;
    margin-left: 15px;
    border-radius: 6px;
    border-right: 16px solid transparent;

}

#colorScaleSelect {
    width: 95%;
    height: 20px;
    /*box-shadow: 0 0 85px rgb(90 86 130 / 50%);*/
    border: 0;
    border-radius: 6px;
    font-size: 0.8em;
    font-weight: 700;
    padding-left: 0px;
    padding-right: 0px;
    transform:translateY(-5px);
    text-align: center;

}

#colorScaleSelect.dark {
    background: #1A1A1B;
    outline: 0 !important;
}

#histogramParent.dark {
    background: #1A1A1B;
    box-shadow: rgba(149, 157, 165, 0.05) 0px 8px 24px;
}

#histogramContainer.dark {
    background: #1A1A1B;
    color: #fff !important;
}

#arrow2.dark {
    color: #fff;
}

#histogramContainer.dark > svg > g > g > text {
    fill: #fff !important;
}

#histogramContainer.dark > svg > g > text {
    fill: #fff !important;
}

#histogramContainer.dark > svg > g > rect {
    stroke-width: 0;
}

#histogramContainer.dark > svg > g > .grid > .tick > line {
    stroke: #fff;
    stroke-width: 0.9px;
    stroke-opacity: 0.3;
}


.variable-header {
    font-family: Epilogue;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.4em;
}

.legend {
    background: #fff;
    box-shadow: 0 0 85px rgb(90 86 130 / 10%);
    margin-top: 15px;
    padding-top:15px;
    border-radius: 6px;

}

#rounded-parent {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 85px rgb(90 86 130 / 20%);
    height: 100vh;
    position:absolute;
    right:0;
    width: 25%;
    transition: 0.05 all ease;
    overflow-y: scroll;
    padding-bottom: 30px;
}

.dot-small {
    height: 20px;
    width: 20px;
}

.dot-small, .dot-big {
    border-radius: 50%;
    display: inline-block;
    opacity: 0.3;
    background-color: #bbb;
}

.dot-big {
    height: 30px;
    width: 30px;
}

#legend-container {
    margin-right: 15px;
    margin-top: 25px;
    margin-left: 15px;
}

#minimize {
    margin-top: 12px;
}

#minimize2 {
    margin-top: 8px;

}

#minimize, #minimize2 {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #202020;
    margin-left: 15px;

}

.parent1-minimized {
    display: none;
}

.parent2-minimized {
    width: 70px !important;
    position: absolute;
    right: 15px !important;
    margin-right: 10px;
    height: 50px !important;
    top: 10px;
}

.popup-emphasis {
    font-weight: 700 !important;
}

.popup-light {
    font-weight: 300 !important;
}

.popup-emphasis, .popup-light, #popup-classification, .popup-relValue, .popup-status {
    font-family: Open Sans;
    font-size: 11pt;
}

.popup-header {
    font-family: Epilogue;
    font-weight: 800;
}

.popup-desc {
    font-size: 1.0em;
    font-style: italic;
    font-color: #fcfcfc;
    background: #f5f5f5;
    padding: 10px;
    border-left: 6px solid;
    opacity: 0.9;
}

.info-container {
    box-shadow: 0 0 85px rgb(90 86 130 / 10%);
}

.info-container > .mapboxgl-popup-tip {
    display: none;
}

/*.popup-small {*/
/*    font-size: 1em !important;*/
/*}*/


.mapboxgl-popup-content {
    padding: 20px;
    width: 400px;
    border-radius: 8px;
}

.popup-header {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 15px;
}

.mapboxgl-popup-close-button {
    font-size: 1.5em;
    margin-right: 5px;
    margin-top: 5px;
}

#popup-classification {
    padding: 8px;
    border-radius: 12px;
    font-size: 1.4em;
}

.Warehouse {
    background: #f2cbd0;
}

.DC {
    background: #e8deff;
}

.popup-property {
    margin-top: 40px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#color-changer {
    margin-left: 15px;
    margin-top: 10px;
}

h1.dark, #minimize.dark, select.dark {
    color: #fff;
}

#rounded-parent.dark {
    background: #1a1a1a;
    box-shadow: 0 0 85px rgb(255 250 250 / 4%);
}

select.dark {
    background: transparent;
    outline: 2px solid #fff;
}

#legend-1.dark, #legend-2.dark {
    background: transparent;
    outline: 2px solid #fff;
    color: #fff;
}

#legend-1.dark > div > div > span, #legend-2.dark > div > div > span {
    opacity: 1;
}

#colorCorrespondingly {
    font-weight: 600;
}

#relMean {
    font-weight: 500;
}

#censusBureauDesc {
    font-weight: 800;
}

.legend-text {
    font-size: 0.8em;
    font-family: Open Sans;
}

.legend-subtext {
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 2px;
}

#popup-smallInfo {
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 1em;
    color: #505050;
}

#legend1-variable, #legend2-variable {
    font-weight: 700;
}

.legend-microtext {
    font-color: #505050;
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 0.75em;
}

.infoIcon {
    font-size: 0.9em;
    margin-left: 2px;
    /*transform:translateY(-5px);*/
    color: #626262;
}

#variableInfoContainer2 > svg > g > foreignObject > body {
    margin-left: 6px;
}

#newBodyEJ, #newBodySVI {
    background: #FBFBFC;
}

#newBodyEJ.dark, #newBodySVI.dark {
    background: #1B1B1C;

}

#newBodyEJ.dark > i, #newBodySVI.dark > i {
    color: #dcdcdc;

}

/*#variableInfoContainer1 {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*}*/

/*#distinctPopup.dark > .mapboxgl-popup-content {*/

/*}*/